{
  "extends": [
    "standard",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": false
      }
    ],
    "camelcase": "off"
  }
}