.hero {
  &__builder-btn {
    font-size: 16px;
  }

  &__title {
    text-wrap:balance;
    font-weight: 700;
    margin-bottom: 20px;
    // color: var(--title-color) !important;
  }

  &__text {
    text-wrap:balance;
    margin-bottom: 20px;
  }

  &__img {
    // padding: 100px;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width:480px) {
    &__title {
      font-size: 36px;
      text-wrap: unset;
    }

    &__text {
      text-wrap: unset;
      font-size: 16px;
    }
  }
}