.mres {
  // border: 1px solid red;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  position: relative;
  
  @media screen and (max-width:1020px) {
      display: flex;
      flex-direction: column;
  }

  &__l-img {
    position: absolute;
    left: -20px;
    top: -30px;
  }

  &__r-img {
    position: absolute;
    right: -30px;
    bottom: 0px;
  }

  &__info {
    width: 45%;

    &-title {
      color: var(--black);
    }

    &-text {
      color: var(--text-gray);
    }

  }
  
  &__resumes {

  }
}









@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Styling
.slider {
	height: 100%;
	position: relative;
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
    flex-direction: column;
		height: calc((360px * 14));
    // aspect-ratio: 374/484;
    flex: none;
	}

  .slide-track-Bottom {
		animation: scrollBottom $animationSpeed linear infinite;
		display: flex;
    flex-direction: column;
		height: calc((360px * 14));
	}
	
	.slide {
		width: 250px;
		height: 350px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 6px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06));
    }
	}
}

// // Animation
@keyframes scroll {
	0% { transform: translateY(0)}
	100% { transform: translateY(calc(-360px * 7))}
}

@keyframes scrollBottom {
	// 0% { transform: translateY(calc(-360px * 7) * 2)}
	// 100% { transform: translateY(calc(-360px * 7) * 2)}
  // 0% { transform: translateY(calc(-360px * 7) - 175px)}
  0% { transform: translateY(calc(-360px * 7))}
	100% { transform: translateY(calc(-360px * 7) / 2px)}
}

@media screen and (max-width:1020px) {
  .mres {
    height: auto;

    &__info {
      width: 100%;
    }

    &__resumes {
      flex-direction: column;
    }

    &__info-title {
      font-size: 30px;
    }

    &__info-text {
      font-size: 16px;
      letter-spacing: 1px;
    }
  }

  .slider {
    overflow: hidden;
    
    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      flex-direction: unset;
      width: calc((260px * 14));
      height: 350px;
    }
  
    .slide-track-Bottom {
      animation: scrollBottom $animationSpeed linear infinite;
      display: flex;
      flex-direction: unset;
      width: calc((260px * 14));
      height: 350px;
    }
    
    .slide {
      width: 250px;
      height: 350px;
      margin-bottom: 10px;
      border-radius: 4px;
      padding: 6px;
      overflow: hidden;
    }
  }

  @keyframes scroll {
    0% { transform: translateX(0)}
    100% { transform: translateX(calc(-360px * 7))}
  }
  
  @keyframes scrollBottom {
    // 0% { transform: translateY(calc(-360px * 7) * 2)}
    // 100% { transform: translateY(calc(-360px * 7) * 2)}
    // 0% { transform: translateY(calc(-360px * 7) - 175px)}
    0% { transform: translateX(calc(-360px * 7))}
    100% { transform: translateX(calc(-360px * 7) / 2px)}
  }
}

@media screen and (max-width:480px) {
  .mres {
    &__r-img {
      display: none;
    }
  }
}