.card-shadow {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

@media screen and (max-width:480px) {
  .fade-up-title {
    font-size: 22px !important;
  }

  .fade-up-text {
    font-size: 14px;
    transform: translateX(-14px);
  }
}