@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100svh;
  background-color: var(--body-color);
}

.section {
  margin-bottom: 120px;
}

.title-color {
  color: var(--title-color);
}

.text-gray {
  color: var(--text-gray);
}

.bg-primary-bright {
  background-color: var(--primary-bright);
}

.bg-primary {
  background-color: var(--primary-color);
}

footer {
  background: #6386ba;
  height: 400px;
}