.filterCards {
  &__cards-box {
    width: 100%;
    // background:red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      // object-fit: contain;
    }
  }

  &__item {
    background-color: rgba(156,178,220,.1);
    border-radius: 6px;
    box-sizing: border-box;
    color: white;
    padding: 20px;
    text-align: center;
    // height: 560px;
    // border: "1px solid #ccc"
  }

  @media screen and (max-width:1024px) {
    &__cards-box {
      // grid-gap: 14px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width:768px) {
    &__cards-box {
      grid-gap: 14px;
      // grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      padding: 14px;
    }
  }

  @media screen and (max-width:768px) {
    &__cards-box {
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      padding: 20px;
    }
  }

  @media screen and (max-width:480px) {
    &__cards-box {
      grid-gap: 14px;
    }
    &__item {
      padding: 14px;
      height: 530px;
    }
  }

  @media screen and (max-width:420px) {
    &__item {
      padding: 12px;
      height: 480px;
    }
  }

  @media screen and (max-width:380px) {
    &__item {
      padding: 12px;
      height: 440px;
    }
  }
}