/* App.css */
.custom-bullet {
	list-style: none;
	margin-bottom: 6px;
}
.custom-bullet::before {
	content: "• ";
	color: #ffa500;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	list-style: none;
}

.custom-bullet-res5::before {
	content: "• ";
	color: #000000;
	font-weight: bold;
	display: inline-block;
	width: 1.2em;
	list-style: none;
}